table.pdf-request td {
    padding: 1rem;
}

table.pdf-request td.label {
    color: #676056;
    float: none;
    font-size: 14px;
}

table.pdf-request td .input-text.admin__control-text {
    width: 100%;
}