<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account"><?php echo __('PDF Print'); ?></h4>
    </div>
    <div class="fieldset">
        <form id="pdf_request" method="post" action="<?php echo $block->escapeUrl($block->getPrintUrl()); ?>">
            <table class="pdf-request form-list">
                <tbody>
                <tr>
                    <td class="label"><label><?php echo __('Choose Template Type'); ?></label></td>
                    <td class="value">
                        <select name="type" class="input-text admin__control-text">
                            <?php foreach ($this->getList() as $template): ?>
                                <option value="<?=$template['value']?>"><?=$template['label']?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="value">
                        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>" />
                        <button class="scalable" type="submit" style="width: 280px;">
                            <span><?php echo __('Print'); ?></span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>